
.background_image {
	background-image: url("../images/classroom2.jpeg");
	background-repeat: no-repeat;
	/*background-color: pink;*/
	height: 500px;
}

.title_on_chalkboard {
	padding-top: 120px;
    padding-left: 225px;
}

.willy {
	padding-top: 100px;
    padding-left: 10em;
}

.cody {

}